<h1>Listing rankings</h1>

<table class = "table table-condensed table-striped">
  <tr>
    <th>Ranking</th>
    <th>Userid</th>
    <th>Name</th>
    <th>Winpercentage</th>
    <th>Level</th>
    <th>Xp</th>
    <th>Honor</th>
    <th>Military</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rankings.each_with_index do |ranking, idx| %>
  <tr <%= 'class = "success"'.html_safe if ranking.userid == @userid %>>
    <td><%= ranking.rank %></td>
    <td><%= ranking.userid %></td>
    <td><%= ranking.name %></td>
    <td><%= ranking.winpercentage %></td>
    <td><%= ranking.level %></td>
    <td><%= ranking.xp %></td>
    <td><%= ranking.honor %></td>
    <td><%= ranking.military %></td>
    <td><%= link_to 'Show', showuser_url(userid: ranking.userid) %></td>
    <td><%= link_to 'Edit', edituser_url(userid: ranking.userid) %></td>
    <td><%= link_to 'Destroy', deleteuser_url(userid: ranking.userid), method: :delete, data: { confirm: 'Are you sure?' , auth_key: 'CaXaNMZoZ3'} %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ranking', newuser_url %>
 <br />
Top10:
<% Ranking::SORTKEYS.each do |key| %>
    <%= link_to key, "/top10/#{key}" %>  |
<% end %>
 <br />
Myrank (user: 99):
 <% Ranking::SORTKEYS.each do |key| %>
    <%= link_to key, "/myrank/99/#{key}" %>  |
<% end %>
